
   
    <h1><%=title%></h1>
    <dl>
        <dt>氏名</dt>
        <dd><%=user.name %></dd>
        <dt>出身地</dt>
        <dd><%=user.birthplace %></dd>
        <dt>趣味</dt>
        <dd>
            <ul>
                <%user.hoby.forEach((value)=>{%>
                    <li><%=value%></li>
                <%})%>
            </ul>
        </dd>
    </dl>
